@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.App {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
 max-width: 300px;
 background-color: hsl(216, 50%, 16%);
 padding: 20px;
 border-radius: 15px;
 box-shadow: 0px 19px 40px 7px rgba(0, 0, 0, 0.5);
}

.images{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 100%;
  border-radius: 10px;
}

.view-img {
  position: absolute;
  width: 20%;
  background: hsl(215, 51%, 70%);
  opacity: 0.8;
  padding: 119px;
  border-radius: 10px;
  visibility: hidden;
}

.images:hover .view-img {
  cursor: pointer;
  visibility: visible;
}

h1{
  color: hsl(0, 0%, 100%);
  font-size: 22px;
}

h1:hover{
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

p{
  color: #667F9Eff;
  font-size: 18px;
  font-weight: 400;
}

.ether {
  color: hsl(178, 100%, 50%);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.clock {
  color: hsl(215, 51%, 70%);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details_spacing {
  margin-left: 5px;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.avatar {
  width: 10%;
}

.footer {
  display: flex;
  align-items: center
}

.footer_text {
  margin-left: 13px;
  font-size: 15px;
}

.link {
  color: hsl(0, 0%, 100%);
}

.link:hover {
  cursor: pointer;
color: hsl(178, 100%, 50%);
}

